@tailwind base;
@tailwind components;
@tailwind utilities;

/* .markdown p {
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
}
.markdown em {
  font-style: italic;
}
.markdown strong {
  font-weight: bold;
}
.markdown hr {
  border: none;
  border-top: 1px solid #ccc;
}
.markdown blockquote {
  border-left: 4px solid #ddd;
  padding-left: 1em;
  color: #666;
}
.markdown del {
  text-decoration: line-through;
}
.markdown a {
  color: #0645ad;
  text-decoration: none;
}
.markdown a:hover {
  text-decoration: underline;
}
.markdown img {
  max-width: 100%;
}
.markdown table {
  width: 100%;
  border-collapse: collapse;
}
.markdown thead {
  background-color: #f5f5f5;
}
.markdown tbody {
  background-color: #fff;
}
.markdown tr {
  border-bottom: 1px solid #ccc;
}
.markdown td,
.markdown th {
  padding: 0.5em;
  border: 1px solid #ccc;
}
.markdown ul,
.markdown ol {
  padding-left: 2em;
}
.markdown li {
  margin-bottom: 0.5em;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin: 1em 0;
}
.markdown code {
  font-family: monospace;
  background-color: #f5f5f5;
  padding: 0.2em 0.4em;
  border-radius: 4px;
}
.markdown pre > code {
  display: block;
  padding: 1em;
  overflow: auto;
}
.markdown li::marker {
  color: blue;
} */
